<div fxFlex="100%" fxFlexAlign="center center" class="category">
  <div *ngIf="category">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1%">
      <button mat-raised-button color="accent" (click)="goBack()" fxFlex="20%" fxFlexAlign="flex-start"
      >Go back</button>
      <h1 fxFlex="80%">Update category {{category.name | uppercase}}</h1>
    </div>
    <form [formGroup]="updateForm" (ngSubmit)="save()" class="create-form">
      <div>
        <mat-form-field class="max-width" appearance="fill">
          <mat-label for="title">Title: </mat-label>
          <input matInput type="text" id="title" formControlName="name" >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="max-width" appearance="fill">
          <mat-label for="description">Description: </mat-label>
          <textarea matInput type="text" id="description" formControlName="description">
        </textarea>
        </mat-form-field>
      </div>
      <p class="mat-body">Created at: {{category.createDate}}</p>
      <input class="mat-raised-button mat-primary" type="submit" value="Update">
    </form>
  </div>
</div>

