<div>
  <br/>
  <h1 class="page-title h1">{{category?.name}}</h1>
  <div class="offset-sm-1 col-sm-10">
    <p class="h4 text-dark font-weight-normal text-center">{{category?.description}}</p>
    <br />
  </div>
  <div class="d-flex flex-row justify-content-center">
    <a class="btn btn-color creation-button" routerLink="/advertisement/create"
       *ngIf="isLogged()">Create advertisement</a>
  </div>
  <br/>
  <div class="d-flex flex-row flex-wrap justify-content-around card-deck">
    <div *ngFor="let advertisement of advertisements" class="item col-sm-5 card">
      <div class="card-body">
        <h1 class="card-title">
          <a routerLink="/advertisement/{{advertisement.id}}"
             class="text-dark h1">{{advertisement.title}}</a>
        </h1>
        <h4>
          <a routerLink="/author/{{advertisement.authorId}}">
            {{advertisement.fullName}}
          </a>,
          {{advertisement.createDate}}
        </h4>
        <p class="card-text h5">
          {{descriptionCutter(advertisement.description)}}
        </p>
        <div *ngIf="isAdmin()">
          <a mat-flat-button routerLink="/advertisement/update/{{advertisement.id}}" class="btn-outline-dark">Update</a>
          <button mat-raised-button color="warn" (click)="deleteAdvertisement(advertisement.id, advertisement.title)"
          >Delete</button>
        </div>
      </div>
    </div>
  </div>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[15, 30, 45, 60]"
                   (page)="pageEvent = getPages($event)"
    ></mat-paginator>
</div>

