.info {
  padding: 2%;
}

.mat-divider {
  display: block;
  margin: 0;
  border-top-width: 3px;
  border-top-style: solid;
}

.page-title {
  font-size: xxx-large;
  text-align: center;
  font-weight: bold;
  color: black;
  margin: 1%;
}
