<div class="category d-flex flex-column align-items-center" >
  <div class="info flex-row justify-content-between" >
    <h1>Categories</h1>
    <a routerLink="/categories/create" mat-raised-button color="primary"
    *ngIf="isAdmin()">Create category</a>
  </div>
  <mat-divider class="mat-divider"></mat-divider>
  <ul>
    <li *ngFor="let category of categories" class="item" >
        <div class="d-flex justify-content-between">
          <a class="h4 text-black align-self-end" routerLink="/advertisement/category/{{category.id}}">{{category.name}}</a>
          <div class="d-flex justify-content-between" *ngIf="isAdmin()">
            <a mat-stroked-button routerLink="/category/{{category.id}}"
               >Update</a>
            <button mat-raised-button color="warn" (click)="deleteCategory(category.id, category.name)">Delete</button>
          </div>
        </div>
      <mat-divider></mat-divider>
    </li>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[15, 30, 45, 60]"
                   (page)="pageEvent = getPages($event)"
    ></mat-paginator>
  </ul>

</div>

