<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title: </label>
    <input formControlName="title" id="title" type="text">
  </div>
  <div>
    <label for="description">Description: </label>
    <textarea formControlName="description" id="description">

    </textarea>
  </div>
  <div>
    <label for="category">Category: </label>
    <select id="category" formControlName="category">
      <option *ngFor="let category of categories" [ngValue]="category"
              [selected]="advertisement?.category===category">{{category.name}}</option>
    </select>
  </div>
  <p>{{advertisement?.createDate}}</p>
  <input type="submit" value="Update">
</form>
