<form [formGroup]="advertisementForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="title">Title: </label>
    <input formControlName="title" id="title" type="text">
  </div>
  <div>
    <label for="description">Description: </label>
    <input formControlName="description" id="description" type="text">
  </div>
  <div *ngIf="category === undefined">
    <label for="category">Category</label>
    <select id="category" formControlName="category">
      <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
    </select>
  </div>
  <input type="submit" value="Create">
</form>
