p {
  word-break: break-all;
  white-space: normal;
}

.page-title {
  font-size: xxx-large;
  font-weight: bold;
  color: black;
  margin: 1%;
}

.item-container {
  background-color: whitesmoke;
  margin: 0.5% 0%;
}


