<div class="offset-sm-1 col-sm-10">
  <h1 class="h1 page-title">{{advertisement?.title}}</h1>
  <p class="text-body h4 text-dark">{{advertisement?.description}}</p>
  <a class="creation-button btn btn-color" *ngIf="isOwner(advertisement?.authorId!)||isAdmin()"
     routerLink="/advertisement/update/{{advertisement?.id}}">Update</a>
  <div>
  <comment-create [advertisement]="advertisement" (event)="addComment()"
  *ngIf="isLogged()"></comment-create>
    <ul class="comments card-deck">
      <li *ngFor="let comment of comments" class="item-container col-sm-8 card">
          <div class="margin-1">
            <div class="d-flex flex-row justify-content-between">
              <a class="text-black font-weight-bold h5" routerLink="/author/{{comment.authorId}}">
                {{comment.fullName}}
              </a>
              <span class="text-black-50 text-end h5">{{comment.createDate}}</span>
            </div>
            <p class="text-body  text-dark h5">{{comment.text}}</p>
            <div class="d-flex flex-row">
              <button mat-raised-button (click)="updateComment(comment)"
                      *ngIf="isOwner(comment.authorId!)||isAdmin()">Change</button>
              <button mat-raised-button color="warn" (click)="deleteComment(comment.id)"
                      *ngIf="isOwner(comment.authorId!)||isAdmin()">Delete</button>
            </div>
          </div>
      </li>
    </ul>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[15, 30, 45, 60]"
                   (page)="pageEvent = getPages($event)"
    ></mat-paginator>
  </div>
</div>
