<form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="col-sm-8">
  <div class="col-sm-8">
    <mat-form-field appearance="fill" class="col-sm-8 max-width">
      <mat-label>Type your comment: </mat-label>
      <textarea matInput formControlName="text" class="col-sm-8 max-width " [maxLength]="maxLength"></textarea>
      <mat-hint>Characters remaining: {{text?.value?.length}}/{{maxLength}}</mat-hint>
    </mat-form-field>
  </div>
  <input type="submit" value="Post" class="mat-raised-button mat-primary">
</form>

